
{% if multiple %}
  <h2>{{ 'Text Formats'|t }}</h2>

{% endif %}

{% if tips|length %}
  {% if multiple %}
    <div class="compose-tips">
  {% endif %}

  {% for name, tip in tips %}
    {% if multiple %}
      {%
        set tip_classes = [
          'filter-type',
          'filter-' ~ name|clean_class,
        ]
      %}
      <div{{ tip.attributes.addClass(tip_classes) }}>
      <h3>{{ tip.name }}</h3>
    {% endif %}

    {% if tip.list|length %}
      <ul class="tips">
      {% for item in tip.list %}
        {%
          set item_classes = [
            long ? 'filter-' ~ item.id|replace({'/': '-'}),
          ]
        %}
        <li{{ item.attributes.addClass(item_classes) }}>{{ item.tip }}</li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if multiple %}
      </div>
    {% endif %}
  {% endfor %}

  {% if multiple %}
    </div>
  {% endif %}
{% endif %}
